@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: #e8efff;
  --color-primary-100: #d2def7;
  --color-primary-200: #b4c9e8;
  --color-primary-300: #729fdc;
  --color-primary-400: #648ddb;
  --color-primary-500: #5480c9;
  --color-primary-600: #2482c5;
  --color-primary-700: #0043ce;
  --color-primary-800: #1164c9;
  --color-primary-900: #0f62fe;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e8e8e8;
  --color-gray-300: #d3d3d3;
  --color-gray-400: #999999;
  --color-gray-500: #666666;
  --color-gray-600: #4a4a4a;
  --color-gray-700: #414141;
  --color-gray-800: #2c2c2c;
  --color-gray-900: #1a1a1a;
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  --font-mono: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}
